@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
    padding: 20px;
    background-color: black;
    font-family: "Nunito Sans";
}
.h1, h1 {
    font-size:2.5rem;
    color:#c3c3c3;
}

.h2, h2 {
    font-size:1.5rem;
    color:#c3c3c3;
}
p {
    color:#c3c3c3;
}

ol {
    color:#ddd;
}
.page-container .page-content-wrapper .footer {
    color:#c3c3c3;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
.page-container .page-content-wrapper .footer.fixed {
    position: fixed;
}